body {
    font-family: "Roboto", sans-serif;
  }
  * {
    margin: 0;
    padding: 0;
  }
  /* ---------horizontal-navbar-menu-----------*/
  #nav-row {
    background: #142e68;
    float: left;
    overflow: hidden;
    position: relative;
    padding: 10px 10px;
    width: 100%;
  }
  body,
.signin {
    background-color: #d3d3d3;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
  }
  .login {
    position: relative;
    height: 640px;
    width: 405px;
    margin: auto;
    padding: 60px 60px;
    background: url("https://www.rastanley.com.au/img/products/new/M/70870_M.jpg") no-repeat   center center #505050;   
    background-size: cover;
    opacity: 0.8;
    box-shadow: 0px 30px 60px -5px #000;
  }
  form {
    padding-top: 80px;
  }
  .active {
    border-bottom: 2px solid #142e68;
  }
  .nonactive {
    color: rgba(255, 255, 255, 0.637);
  }
  h2 {
    padding-left: 12px;
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 100;
  }
  h2:first-child {
    padding-left: 0px;
  }
  ::placeholder {
    top: -65px;
    color: rgb(0, 0, 0);
  }
  .text {
    width: 89%;
    padding: 10px 20px;
    display: block;
    height: 15px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.623);
    border: 2px solid rgba(255, 255, 255, 0);
    overflow: hidden;
    margin-top: 15px;
    transition: all 0.5s ease-in-out;
  }
  .text:focus {
    outline: 0;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.87);
  }
  .text:focus + span {
    opacity: 0.8;
  }
  input[type="text"],
  input[type="password"] {
    font-family: 'Montserrat', sans-serif;
    color: rgb(10, 10, 10);
  }
  input {
    display: inline-block;
    padding-top: 10px;
    font-size: 14px;
  }
  h2,
  span,
  .custom-checkbox {
    margin-left: 20px;
    color: rgb(2, 2, 2);
  }
  label {
    display: inline-block;
    padding-top: 10px;
    padding-left: 5px;
  }
  .signin {
    background-color: #142e68;
    color: rgba(255, 255, 255, 0.767);
    width: 100%;
    padding: 10px 20px;
    display: block;
    height: 39px;
    border-radius: 20px;
    margin-top: 30px;
    transition: all 0.5s ease-in-out;
    border: none;
    text-transform: uppercase;
  }
  .signin:hover {
    background: #142e68;
    box-shadow: 0px 4px 35px -5px #142e68;
    cursor: pointer;
  }
  .signin:focus {
    outline: none;
  }
  .create {
    background-color: #142e68;
    color: rgba(255, 255, 255, 0.767);
    width: 100%;
    padding: 10px 20px;
    display: block;
    height: 39px;
    border-radius: 20px;
    margin-top: 30px;
    transition: all 0.5s ease-in-out;
    border: none;
    text-transform: uppercase;
  }
  .create:hover {
    background: #142e68;
    box-shadow: 0px 4px 35px -5px #142e68;
    cursor: pointer;
  }
  .create:focus {
    outline: none;
  }
  hr {
    border: 1px solid rgba(255, 255, 255, 0.74);
    background-color:#fff;
    top: 50px;
    position: relative;
  }
  a {
    text-align: center;
    display: block;
    top: 120px;
    position: left;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }