/* ---------CSS Styles-----------*/
body {
    font-family: "Roboto", sans-serif;
  }
  * {
    margin: 0;
    padding: 0;
  }
  /* ---------horizontal-navbar-menu-----------*/
  #nav-row {
    background: #142e68;
    float: left;
    overflow: hidden;
    position: relative;
    padding: 10px 10px;
    width: 100%;
  }
  h2 {
    padding-left: 12px;
    font-size: 19px;
    padding-bottom: 5px;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 100;
    border-bottom: 2px solid #142e68;
  }